Source: ros-kinetic-abb-rapid-msgs
Section: misc
Priority: optional
Maintainer: Jon Tjerngren <jon.tjerngren@se.abb.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-message-runtime
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-abb-rapid-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-generation, ros-kinetic-message-runtime
Description: Provides ROS message definitions, representing RAPID data from ABB robot controllers.
