Source: ros-melodic-abb-rapid-sm-addin-msgs
Section: misc
Priority: optional
Maintainer: Jon Tjerngren <jon.tjerngren@se.abb.com>
Build-Depends: debhelper (>= 9.0.0), ros-melodic-abb-rapid-msgs, ros-melodic-catkin, ros-melodic-message-generation, ros-melodic-message-runtime, ros-melodic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-abb-rapid-sm-addin-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-melodic-abb-rapid-msgs, ros-melodic-message-generation, ros-melodic-message-runtime, ros-melodic-std-msgs
Description: Provides ROS message and service definitions, representing interaction with ABB robot controllers using the RobotWare StateMachine Add-In.
