Source: ros-kinetic-abb-robot-msgs
Section: misc
Priority: optional
Maintainer: Jon Tjerngren <jon.tjerngren@se.abb.com>
Build-Depends: debhelper (>= 9.0.0), ros-kinetic-catkin, ros-kinetic-message-generation, ros-kinetic-message-runtime, ros-kinetic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-kinetic-abb-robot-msgs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-kinetic-message-generation, ros-kinetic-message-runtime, ros-kinetic-std-msgs
Description: Provides ROS message and service definitions, representing basic interaction with ABB robot controllers.
